* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f8f8f8;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit !important;
}

.absolute {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.relative {
  position: relative;
}

.layout {
  display: flex;
}

.layout.row {
  flex-direction: row;
}

.layout.column {
  flex-direction: column;
}

.dynamic {
  flex: 0 0 auto;
}

.fitted {
  flex: 1 1 0;
  overflow: hidden;
}

.center {
  justify-content: center;
  align-items: center;
}

.overflow {
  overflow: auto;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

.high {
  z-index: 1;
}

.low {
  z-index: 0;
}

.right.margin {
  margin-right: 20px;
}

.left.margin {
  margin-left: 20px;
}

.shadowed {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.Details > main {
  align-items: center;
  padding: 20px 0px;
}

.Details main table {
  width: 100%;
}

.Details main table td {
  padding: 20px;
  vertical-align: middle;
}

.Editor > main {
  align-items: center;
  padding: 20px 0px;
}

.Editor main table {
  width: 100%;
}

.Editor main table td {
  padding: 20px;
  vertical-align: middle;
}

.App > div > nav {
  min-width: 200px;
  background-color: white;
}

/* .param-container {
  padding: 10px;
} */

.param-container table td {
  padding: 20px;
}

.active-item {
  background-color: rgba(0, 0, 0, 0.2) !important;
  opacity: 1 !important;
}
